/* gestion des polices  */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');


.font-monda {
    font-family: 'Monda', sans-serif;
}
.bold {
    font-weight: 700;
}
.font-size_48 {
    font-size: 48px;
}
.font-size_30 {
    font-size: 30px;
}
.font-size_20 {
    font-size: 20px;
}
.text-align_center {
    text-align: center;
}
.line-height_2 {
    line-height: 12px;
}

/* gestion des displays */
.display-block {
    display: block;
}
.display-none {
    display: none;
}
.flex {
    display: flex;
}
.justifyContent-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.justifyContent-spaceBetween {
    justify-content: space-between;
}
.justifyContent-spaceAround {
    justify-content: space-around;
}
.alignItem-flexEnd {
    align-items: flex-end;
}
.alignItem-center {
    align-items: center;
}
.gap5 {
    gap: 5px;
}
.gap30 {
    gap: 30px;
}
.alignSelf-end {
    align-self: end;
}

/* gestion du background */

.image-background {
    background-image: url("../img/clouds.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
}
.background-none {
    background: none;
}
.background-red {
    background-color: #AF7A7A;
}
.background-linear_green-blue {
    background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
}
.background-white {
    background-color: white;
}

/* gestion des marges */

.padding-left_30 {
    padding-left: 30px;
}
.padding-left_10 {
    padding-left: 10px;
}
.padding-right_10 {
    padding-right: 10px;
}
.padding-left_10p100 {
    padding-left: 10%;
}
.padding-right_10p100 {
    padding-right: 10%;
}
.padding-right_30 {
    padding-right: 30px;
}
.margin-top_20 {
    margin-top: 20px;
}
.padding-top_20 {
    padding-top: 20px;
}
.padding-top_10 {
    padding-top: 10px;
}
.padding-top {
    padding: 2em 4em;
}
.padding-none {
    padding: none;
}

/* gestion des border*/

.border {
    border: 1px solid black
}
.border-radius25 {
    border-radius: 25px;
}
.border-none {
    border: none;
}

/* gestion des tailles des sections */

.width_100p100 {
    width: 100%;
}
.height_100vw {
    height: 100vw;
}
.max-height_500 {
    max-height: 500px;
}
.width_65p100 {
    width: 65%;
}
.overflow-scroll {
    overflow : scroll;
}
.height_400 {
    height: 400px;
}
.height_100p100 {
    height: 100%;
}
.width_fc {
    width: fit-content;
}

/* positions */
.position-absolute {
    position: absolute;
}
.position-relative {
    position: relative;
}
.position-top_42p100 {
    top: 42%;
    
}
.position-left_17v5p100 {
    left: 17.5%
}
.position-left_32p100 {
    left: 32%
}
.position-left_57p100 {
    left: 57%;
}

/* z-index */
.z-index_5 {
    z-index: 5;
}
.z-index_6 {
    z-index: 6;
}

/* header */
h1 {
    padding-top: 1em;
    padding-bottom: 2em;
}

/* first form */

.place {
    display: block;
    padding: 1em;
    width: calc(100% - 2em);
    background-color: #A8D2A5;
    margin-bottom: 2em;
    border: none;
}

.add {
    border-radius: 25px;
    padding: 1em 6em;
    background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
    border: none;
    box-shadow: 0px 4px 4px #ACD4E1;
    cursor: pointer;
}
.edit {
    border-radius: 25px;
    padding: 1em 6em;
    background: linear-gradient(90deg, #AF7A7A 0%, #ACD4E1 115.2%);
    border: none;
    box-shadow: 0px 4px 4px #ACD4E1;
    cursor: pointer;
}
.placeEdit {
    background-color: #AF7A7A;
    display: block;
    padding: 1em;
    width: calc(100% - 2em);
    margin-bottom: 2em;
    border: none;
}

.pointer {
    cursor: pointer;
}

.cursor {
    cursor: grab;
}


/* footer */

footer {
    background: #ACD4E1;
}

footer div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

footer img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}



/* RESPONSIVE TELEPHONE */
@media  (max-width: 720px) {
    main {
        padding-top: 2em;
        padding-left: 1em;
        padding-right: 1em;
    }


        
}