/* gestion des polices  */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');


.font-monda {
    font-family: 'Monda', sans-serif;
}
.bold {
    font-weight: 700;
}
.font-size_48 {
    font-size: 48px;
}

/* gestion des flexboxs */

.flex {
    display: flex;
}
.justifyContent-center {
    justify-content: center;
}
.flex-column {
    flex-direction: column;
}
.justifyContent-spaceBetween {
    justify-content: space-between;
}
.alignItem-flexEnd {
    align-items: flex-end;
}
.gap5{
    gap: 5px;
}

h1 {
    padding-top: 1em;
    padding-bottom: 2em;
}


/* first form */

.place {
    display: block;
    padding: 1em;
    width: 100%;
    background-color: #A8D2A5;
    margin-bottom: 2em;
    border: none;
}

.add {
    border-radius: 25px;
    padding: 1em 6em;
    background: linear-gradient(90deg, #A8D2A5 0%, #ACD4E1 115.2%);
    border: none;
    box-shadow: 0px 4px 4px #ACD4E1;
    /* float: right; */
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.cursor {
    cursor: grab;
}
/* gestion du background */

.image-background {
    background-image: url("../img/clouds.svg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 75%;
}
.background-none {
    background: none;
}
.overflow-scroll {
    overflow : scroll;
}
/* gestion des marges */
.width_100p100 {
    width: 100%;
}
.padding-left_30 {
    padding-left: 30px;
}
.padding-left_150 {
    padding-left: 150px;
}
.padding-right_150 {
    padding-right: 150px;
}
.padding-right_30 {
    padding-right: 30px;
}
.margin-top_20 {
    margin-top: 20px;
}
.padding-top_20 {
    padding-top: 20px;
}

/* gestion des border*/

.border {
    border: 1px solid black
}




/* footer */

footer {
    background: #ACD4E1;
}


footer div {
    /* width: 32px;
    height: 32px; */
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 1em;
}

footer img {
    width: 32px;
    height: 32px;
}

.border-none {
    border: none;
}

/* gestion des tailles des sections */
.height300 {
    height: 300px;
}