/* gestion des polices  */
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

.font-monda {
    font-family: 'Monda', sans-serif;
}
.bold {
    font-weight: 700;
}
.font-size_48 {
    font-size: 48px;
}

/* gestion des flexboxs */

.flex {
    display: flex;
}
.justifyContent-center {
    justify-content: center;
}


/* first form */

.place {
    display: block;
    padding: 1em;
    width: 100%;
    background-color: #A8D2A5;
    margin-bottom: 2em;
}

.add {
    border-radius: 30%;
    padding: 1em 5em;
    background: linear-gradient(#A8D2A5#ACD4E1);
}
/* gestion du background */

.image-background {
    background-image: url("../img/clouds.svg");
    background-repeat: no-repeat;
    background-position: center;
}

/* gestion des marges */

/* .margin-left_20p100 {
    margin-left: 20%;
}
.margin-right_20p100 {
    margin-right: 20%;
} */
